@{
    ViewBag.Title = "Giới thiệu";
    
}
<!--banner-->
<div class="row">
    <div class="col-lg-12">
        <img src="~/Images/Banner/banner-about.png" class="img-responsive" alt=""/>
    </div>
</div>
<!--giới thiệu-->
<div class="row">
    <div class="container">
        <div class="row" id="about-tag">
            <div class="col-md-12" id="about-tag-year">
                <p>Giới thiệu về pasgo<a href="#"> / Về chúng tôi</a></p>
                <div id="about-year">                    
                        <span id="year">2012</span>
                        <span id="year">2013</span>
                        <span id="year">2014</span>
                        <span id="year">2015</span>
                        <span>2016</span>                    
                </div>
            </div>
        </div>
        
        <div class="row" id="about-content">
            <div class="col-md-6">
              <h3>Bước khởi đầu</h3>
                <br />
                <p >
                    PASGO là giải pháp ứng dụng Công nghệ thông tin, tạo ra môi trường trung gian nâng cao hiệu quả kết nối: PASGO - KHÁCH HÀNG – NHÀ VẬN CHUYỂN – ĐIỂM ĐẾN, xây dựng nên một cộng đồng mua bán thông minh (đơn giản, trực tiếp, công khai, công bằng) theo Điểm đến!
                    <br />
                    PASGO cung cấp cho Quý Khách hai chức năng chính:
                    <br /><br />
                    - Đặt chỗ/Đặt bàn trực tuyến với lợi ích/ưu đãi hấp dẫn.<br /><br />
                    - Đặt xe trực tuyến.<br />
                </p>
            </div>
            <div class="col-md-6">
                <h3>Mô hình kinh doanh</h3>
                <br />
                <p>
                    PASGO là giải pháp ứng dụng Công nghệ thông tin, tạo ra môi trường trung gian nâng cao hiệu quả kết nối: PASGO - KHÁCH HÀNG – NHÀ VẬN CHUYỂN – ĐIỂM ĐẾN, xây dựng nên một cộng đồng mua bán thông minh (đơn giản, trực tiếp, công khai, công bằng) theo Điểm đến!
                    <br /><br />
                    PASGO cung cấp cho Quý Khách hai chức năng chính:
                    <br /><br />
                    - Đặt chỗ/Đặt bàn trực tuyến với lợi ích/ưu đãi hấp dẫn.<br /><br />
                    - Đặt xe trực tuyến.<br />
                </p>
            </div>
        </div>
    </div>
</div>
<!--đôi nét về pasgo-->
<div class="row" id="about-sangtao">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                    ĐÔI NÉT VỀ PASGO – Sáng tạo sự khác biệt!
                </h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Miễn phí tham gia, miễn phí sử dụng:<br /><br />
                    Miễn phí gia nhập: bạn cần Đăng ký gia nhập miễn phí, và bạn trở thành Thành viên PASGO.<br /><br />

                    Miễn phí sử dụng: Để sử dụng hai chức năng Đặt chỗ-Đặt bàn/Đặt xe online bạn có thể gọi tới Tổng đài: 04.71.066.066 / 08.71.066.066 hoặc sử dụng ứng ụng PASGO chạy trên hai hệ máy: Android và IOS; hoặc Đặt chỗ/Đặt bàn online miễn phí trên website: pasgo.vn 
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Đối tác uy tín, chất lượng:<br /><br />
                    Hiện nay PASGO vẫn đang trong quá trình kinh doanh bước đầu, nhưng PASGO cam kết nỗ lực tối đa để tìm kiếm và hợp tác với các Đối tác.<br /><br />

                    Điểm đến và Đối tác Vận chuyển uy tín, chất lượng, coi trọng dịch vụ chăm sóc khách hàng, coi khách hàng là quan trọng nhất!<br />
                </p>
            </div>
        </div>
    </div>
</div>
<!---Comment nhận xét & phản hồi feedback-->
<div class="row" id="feedback">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>nhận xét và phản hồi</h2>
                <p>PASGO rất mong nhận được phản hồi về cung cách phục vụ, chất lượng dịch vụ, hoặc bất cứ điều gì làm Quý khách không hài lòng như về: hoạt động của website ứng dụng, thái độ phục vụ, không gian phục vụ, chất lượng món ăn... Để chúng tôi có cơ hội được làm việc tốt hơn nữa phục vụ Quý khách! </p>
            </div>
        </div>
        <div class="row text-center" id="phone">
            <div class="col-md-6 ">
                <span id="phone-alt" class="glyphicon glyphicon-earphone"></span>
                <br />
                <span id="phone-number">04.71.066.066</span>
            </div>
            <div class="col-md-6 ">
                <span id="phone-alt" class="glyphicon glyphicon-earphone"></span>
                <br />
                <span id="phone-number">08.71.066.066</span>
            </div>
        </div>
    </div>
</div>
<!--Lĩnh vực hoạt động activities-->
<div class="row" id="activities">
    <div class="container">
        <div class="row">
            <h2 class="text-center">lĩnh vực hoạt động</h2>
            <div class="col-md-3 text-center">
                <img src="~/Images/Helpdatban/diemden.png" class="img-circle img-responsive" alt="" />
                <b id="activities-title">Phát triển Điểm đến</b><br />
                <span>Hàng nghìn điểm đến ưu đãi</span>
            </div>
            <div class="col-md-3 text-center">
                <img src="~/Images/Helpdatban/call-datcho.png" class="img-circle img-responsive" alt="" />
                <b id="activities-title">gọi đặt chỗ</b><br />
                <span>0871 066 066 hoặc 0471 066 066 </span>
            </div>
            <div class="col-md-3 text-center">
                <img src="~/Images/Helpdatban/call-datban-online.png" class="img-circle img-responsive" alt="" />
                <b id="activities-title">Cộng đồng</b><br />
                <span>Qua App PASGO Hoặc website: pasgo.vn </span>
            </div>
            <div class="col-md-3 text-center">
                <img src="~/Images/Helpdatban/thuong-thuc.png" class="img-circle img-responsive" alt="" />
                <b id="activities-title">dịch vụ đặt xe</b><br />
                <span>Thưởng thức tại nhà hàng</span>
            </div>
        </div>
    </div>
</div>
<!--khó khăn và thách thức challenges-->
<div class="row" id="challenges">
    <div class="container">
        <h2 class="text-center">khó khăn và thách thức cho pasgo</h2>
        <div class="row">
            <div class="col-md-4" id="txt-challenges">
                Giảm giá quá sâu – “Tiền nào của nấy”<br /> <br />
                Ngày nay các chiến dịch MIỄN PHÍ, GIẢM GIÁ đang được nhiều đơn vị kinh doanh áp dụng một cách tràn lan, khiến Khách Hàng dần cảm thấy nhàm chán, thậm chí mất niềm tin!
                Như vậy cả Doanh nghiệp và khách hàng đều không thực sự có lợi ở đây, khách hàng mua phải hàng tồn; hoặc sản phẩm dịch vụ không tốt, đầy đủ như kỳ vọng…! Còn Doanh nghiệp kinh doanh thì bị động và có thể mất uy tín do bán sản phẩm kiểu “tiền nào của nấy”.
            </div>
            <div class="col-md-4" id="txt-challenges">
                Giải bài toán giá tốt – chất lượng vẫn tốt<br /> <br />
                Ngày nay các chiến dịch MIỄN PHÍ, GIẢM GIÁ đang được nhiều đơn vị kinh doanh áp dụng một cách tràn lan, khiến Khách Hàng dần cảm thấy nhàm chán, thậm chí mất niềm tin!
                Như vậy cả Doanh nghiệp và khách hàng đều không thực sự có lợi ở đây, khách hàng mua phải hàng tồn; hoặc sản phẩm dịch vụ không tốt, đầy đủ như kỳ vọng…! Còn Doanh nghiệp kinh doanh thì bị động và có thể mất uy tín do bán sản phẩm kiểu “tiền nào của nấy”.
            </div>
            <div class="col-md-4" id="txt-challenges">
                Cùng nhau trải nghiệm và tận hưởng xu thế mới!<br /> <br />
                Giờ là lúc chúng tôi rất mong chờ và chào đón Quý Khách hàng, Quý Cá nhân, Doanh nghiệp tham gia vào cộng đồng PASGO để tạo ra một xu thế tiêu dùng kiểu mới!

                Công nghệ thông minh cho chúng ta môi trường để chơi đầy sáng tạo và miễn phí, thay vì lo lắng hãy dũng cảm tham gia để cùng nhau lướt trên những ngọn sóng online đầy tiềm năng, giá trị hơn và thú vị hơn!
            </div>
        </div>
    </div>
</div>
<!--đối tác partner-->
<link href="~/css/elastislide.css" rel="stylesheet" />
<div class="row" id="partner">
    <div class="container">
        <h2 class="text-center"> đơn vị hợp tác</h2>
    </div>
    <div class="container demo-1 " id="slider-partner">
        <div class="main">
            <!-- slidebar -->
            <ul id="carousel" class="elastislide-list clearfix">
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
                <li>
                    <a href="#" target="_blank">
                        <img class="thumbimg" src="~/Images/Service/coffee.png" width="120" height="120" />
                    </a>

                </li>
            </ul>
            <!-- End Elastislide Carousel -->

        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="~/Scripts/jquery.elastislide.js"></script>
        <script src="~/Scripts/jquerypp.custom.js"></script>
        <script type="text/javascript">

            $('#carousel').elastislide();

        </script>
    </div>
</div>