@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div class="row" id="news-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p id="tag-news">Giới thiệu pasgo / <a href="#">Sản phẩm</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">                
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/Images/News/news1.png" class="img-responsive" alt="" />
                        <br />
                        <b>Gọi xe, đặt chỗ thông minh xu hướng hiện đại đang chờ đón bạn</b>
                        <br /><br />
                        <p>
                            - Nói KHÔNG với chen chúc, xếp hàng chờ đến lượt.<br />
                            - Nói KHÔNG với đứng vẫy, gọi Taxi trước hàng giờ.
                        </p>
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/Images/News/news2.png" class="img-responsive" alt="" />
                        <br />
                        <b>1000+ điểm đến với ưu đãi hấp dẫn đang chờ bạn!</b>
                        <br /><br />
                        <p>
                            - Những thương hiệu tên tuổi với chất lượng dịch vụ đã qua kiểm định.<br />
                            - Nhận Khuyến Mãi chiết khấu trực tiếp trên hóa đơn bằng cách HOÀN TOÀN MIỄN PHÍ với vài thao tác đơn giản.

                        </p>                       
                        <a>[Xem 1000 + Nhà Hàng]</a><br /><br /><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/Images/News/news3.png" class="img-responsive" alt="" />
                        <br />
                        <b>Gọi Taxi nhanh hơn, tiện hơn, rẻ hơn!</b>
                        <br /><br />
                        <p>
                            - Liên kết với hàng chục hãng Taxi uy tín nhất trên cả nước.<br />
                            - Gọi Taxi gần bạn nhất với các khuyến mãi hấp dẫn nhất.<br />
                            - Và vô vàn chương trình ưu đãi hấp dẫn khác đang chờ đón bạn.
                        </p>
                        <a>[Xem Taxi Giá rẻ]</a><br /><br /><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/Images/News/news4.png" class="img-responsive" alt="" />
                        <br />
                        <b>PASGO cam kết:</b>
                        <br /><br />
                        <p>
                            - GIẢM giá không đồng nghĩa GIẢM chất lượng dịch vụ. Chất lượng mọi dịch vụ 100% đúng như cam kết.<br />
                            - Giá TỐT đi liền chất lượng dịch vụ TỐT/KHÔNG ĐỔI.<br />
                            - Bởi Sự tin tưởng của Khách hàng là động lực phát triển của chúng tôi.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <img src="~/Images/News/bannerqc1.png" class="img-responsive" alt="" />
                </div>
                <div class="row">
                    <img src="~/Images/News/bannerqc2.png" class="img-responsive" alt="" />
                </div>
                <div class="row">
                    <img src="~/Images/News/bannerqc3.png" class="img-responsive" alt="" />
                    <hr id="news-hr" /><hr /><br />
                </div>
              
                <b>Bài viết mới nhất</b>
                <br /><br />
                <div class="row">
                   <div class="col-md-3">
                       <img src="~/Images/News/news-title.png" class="img-circle img-responsive" alt="" />
                   </div>
                    <div class="col-md-9" id="txt-news-content">
                        <a>Cuộc thi thiết kế Graphic & Animation Tết cổ truyền</a>  
                        <br />
                        JUNE 25, 2014 |<a>Tin tức</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Images/News/news-title.png" class="img-circle img-responsive" alt="" />
                    </div>
                    <div class="col-md-9" id="txt-news-content">
                        <a>Cuộc thi thiết kế Graphic & Animation Tết cổ truyền</a>
                        <br />
                        JUNE 25, 2014 |<a>Tin tức</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Images/News/news-title.png" class="img-circle img-responsive" alt="" />
                    </div>
                    <div class="col-md-9" id="txt-news-content">
                        <a>Cuộc thi thiết kế Graphic & Animation Tết cổ truyền</a>
                        <br />
                        JUNE 25, 2014 |<a>Tin tức</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Images/News/news-title.png" class="img-circle img-responsive" alt="" />
                    </div>
                    <div class="col-md-9" id="txt-news-content">
                        <a>Cuộc thi thiết kế Graphic & Animation Tết cổ truyền</a>
                        <br />
                        JUNE 25, 2014 |<a>Tin tức</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Images/News/news-title.png" class="img-circle img-responsive" alt="" />
                    </div>
                    <div class="col-md-9" id="txt-news-content">
                        <a>Cuộc thi thiết kế Graphic & Animation Tết cổ truyền</a>
                        <br />
                        JUNE 25, 2014 |<a>Tin tức</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Images/News/news-title.png" class="img-circle img-responsive" alt="" />
                    </div>
                    <div class="col-md-9" id="txt-news-content">
                        <a>Cuộc thi thiết kế Graphic & Animation Tết cổ truyền</a>
                        <br />
                        JUNE 25, 2014 |<a>Tin tức</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Images/News/news-title.png" class="img-circle img-responsive" alt="" />
                    </div>
                    <div class="col-md-9" id="txt-news-content">
                        <a>Cuộc thi thiết kế Graphic & Animation Tết cổ truyền</a>
                        <br />
                        JUNE 25, 2014 |<a>Tin tức</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Images/News/news-title.png" class="img-circle img-responsive" alt="" />
                    </div>
                    <div class="col-md-9" id="txt-news-content">
                        <a>Cuộc thi thiết kế Graphic & Animation Tết cổ truyền</a>
                        <br />
                        JUNE 25, 2014 |<a>Tin tức</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Images/News/news-title.png" class="img-circle img-responsive" alt="" />
                    </div>
                    <div class="col-md-9" id="txt-news-content">
                        <a>Cuộc thi thiết kế Graphic & Animation Tết cổ truyền</a>
                        <br />
                        JUNE 25, 2014 |<a>Tin tức</a>                      
                    </div>                  
                </div>
                <hr id="news-hr" /><hr /><br />
                <b>Facebook Likes</b>
                <br /><br />
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/Images/News/fb.png" class="img-responsive" alt="" />
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

